.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1360px;
  width: 100%;
  min-height: 100vh;
  font-family: "Cabinet Grotesk", arial, sans-serif;
}

@media screen and (max-width: 580px) {
  .app {
    max-width: 343px;
  }
}
