.card {
  height: 326px;
  width: 323px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  display: flex;
  position: relative;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}

.card__image {
  border-radius: 19px;
  height: 326px;
  width: 323px;
}

.wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  top: 15px;
}

.card__title {
  background-color: white;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.card__like {
  height: 15px;
  width: 18px;
  padding: 10px;
  display: flex;
  background: transparent url("../../../images/like-empty.svg") center no-repeat;
  border: none;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.card__like:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card__like_active {
  height: 15px;
  width: 18px;
  padding: 10px;
  display: flex;
  background: transparent url("../../../images/like-full.svg") center no-repeat;
  border: none;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.card__like_active:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

@media screen and (max-width: 580px) {
  .card {
    height: 162px;
    width: 162px;
  }

  .card__image {
    height: 162px;
    width: 162px;
  }

  .card__title {
    top: 7px;
  }
}
