.card {
  height: 326px;
  width: 323px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  display: flex;
  position: relative;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}

.card__image {
  border-radius: 19px;
  height: 326px;
  width: 323px;
}

.card__title {
  display: flex;
  position: absolute;
  background-color: white;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  top: 15px;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .card {
    height: 162px;
    width: 162px;
  }

  .card__image {
    height: 162px;
    width: 162px;
  }

  .card__title {
    top: 7px;
  }
}
