.popup__container_type_preview {
  max-width: 498px;
  border-radius: 16px;
  padding: 0;
}

.popup__item-image {
  width: 498px;
  height: 498px;
  border-radius: 16px 16px 0 0;
}

.popup__close_type_preview {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url("../../images/close-transparent.svg");
}

.popup__item-description {
  display: grid;
  grid-template-areas:
    "name delete"
    "weather .";
  padding: 20px 32px 32px;
  font-size: 20px;
}

.item-name {
  grid-area: name;
  margin: 0;
  padding-bottom: 12px;
}

.item-weather {
  grid-area: weather;
  margin: 0;
}

.item-delete {
  grid-area: delete;
  justify-self: flex-end;
  align-self: flex-start;
  padding: 0;
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk", arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 77, 0, 1);
}

.item-delete:hover {
  cursor: pointer;
  color: red;
}

@media screen and (max-width: 580px) {
  .popup_opened {
    visibility: visible;
  }

  .popup__container_type_preview {
    max-width: 343px;
  }

  .popup__item-image {
    width: 343px;
    height: 343px;
  }

  .popup__close_type_preview {
    background-image: url("../../images/mobile-design/black-x.svg");
    height: 21.21px;
    width: 21.41px;
    top: 12px;
    right: 12.79px;
  }
}
