.header {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 89px;
  height: 40px;
}

.header__date-location {
  margin: 0 0 0 24px;
  padding: 11px 0 5px 0;
}

#add-clothes-btn {
  border: none;
  max-width: 116px;
  height: 24px;
  background: transparent;
  font-family: "Cabinet Grotesk", arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.header__button {
  padding: 0;
}

.header__button:hover {
  cursor: pointer;
}

.header__user-name {
  margin: 0 0 0 20px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  margin-left: 12px;
}

/*Mobile features*/
.hamburger {
  display: none;
  position: relative;
  background: transparent url("../../images/mobile-design/hamburger.svg") center
    no-repeat;
  background-color: white;
  height: 44px;
  width: 44px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.mobile-menu_open {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 208px;
  max-width: 343px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.mobile-menu__close-btn {
  display: none;
  position: absolute;
  border: none;
  background: transparent url("../../images/mobile-design/black-x.svg")
    no-repeat;
  height: 21.21px;
  width: 21.41px;
  top: 11px;
  right: 11.39px;
}

@media screen and (max-width: 580px) {
  .header__container_type_logo {
    flex-direction: column;
    align-items: flex-start;
  }

  /*the interactive options of the header menu*/
  .header__container_type_options {
    visibility: hidden;
  }

  .header__logo {
    margin-bottom: 34px;
  }

  .header__date-location {
    margin: 0;
    padding: 0;
  }

  .header__button {
    position: absolute;
    left: 111px;
    bottom: 60px;
  }

  .header__user-name {
    position: absolute;
    margin: 0;
    top: 68px;
    left: 67px;
  }

  .header__avatar {
    position: absolute;
    top: 60px;
    right: 67px;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu__close-btn {
    display: flex;
  }
}
